<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- webpack会将入口JS文件引入的CSS或者vue组件中的css生成style标签或者生成独立的css文件并使用Link标签加载它 -->
<link href="/Public/resource/home/css/AddGoods/index.5d1b6d8b84e63848a9e88e0ccc905242.css" rel="stylesheet"></head>
<body>
<app></app>
<!-- webpack的HtmlWebpackPlugin插件会根据入口JS文件生成script标签并插入在这里或实现按需加载 -->
<script type="text/javascript" src="/Public/resource/home/js/manifest.d9e7c35002e48b114079.js"></script><script type="text/javascript" src="/Public/resource/home/js/vendor.2d1bd3c0cd0aa0a99b74.js"></script><script type="text/javascript" src="/Public/resource/home/js/AddGoods/index.596e961936850b5ec8a8.js"></script></body>
</html>